.project-section {
    height: 100vh;
    padding:60px 10%;
    background: #edf2f8;
}

.project-text {
    display: flex;
    justify-content: center;
}

.project-text h1 {
    font-size: 40px;
}

.project-category {
    margin: 40px 0px;
}

.project-category ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 50px;
}
 
.project-category ul li {
    padding: 7px 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}
ul li:hover{
    color: #fafafa; /* Adjust the hover color as needed */
    background: #0209C2;
}
.project-card{
    display: flex;
    justify-content: space-between;
}
.project{
    width: 260px;
    height: 295px;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-card a{
    text-decoration: none;
}
.project h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
   
}
.project-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 220px;
    background: red;
}
.project-img img{
    width: 210px;
    height: 295px;
    
}