.skill-section{
    height: 100vh;
    padding:60px 10%;
    }
    .skill-text{
        display: flex;
        flex-direction: column;
        align-items: center;
       gap: 20px;
    }
    .skill-text p{
        font-size: 18px;
        line-height: 1.4;
    }
    .skills-icon-section{
        width: 800px;
        height: 400px;
        display: flex;
        gap: 20px;
     
    }
    .both-section{
        display: flex;  
        margin-top: 50px;
    }
.skill-icons{
   
    display: flex;
    align-items: center;
    justify-content:center ;
    width: 120px;
    height: 120px;
    background-color: rgb(202, 202, 202);
    border-radius: 50%;
}
.experience{
    display: flex;
    gap: 20px;
   
}
.skill-icons img{
    width: 70px;
}
.job-role{
display: flex;
flex-direction: column;
gap: 5px;
}
