.contact-section{
    height: 100vh;
    padding:60px 10%;
}

.contact-text{
    display: flex;
    justify-content: center;
}
.contact-text h1{
    font-size: 42px;
}
.contact-text span{
    color: #0209C2;
}
.messenger{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.gmail{
    display: flex;
    align-items: center;
    justify-content:center ;
    width: 340px;
    height: 80px;
    gap: 15px;
    background: #ea4f4f;
    color: aliceblue;
    border-radius: 10px;
}
.gmail img{
    width: 35px;
}
.input{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    gap: 30px;
}
.input input{
    width: 800px;
    height: 60px;
    background: #edf2f8;
    color: #000000;
    border: none;
    padding: 20px;
    outline: none;
    border-radius: 10px;
}

.input textarea{
    width: 800px;  
    height: 150px;
    background: #edf2f8;
    color: #000000;
    border: none;
    padding: 20px;
    border-radius: 10px;
    outline: none;
}
.input button{
    width: 180px;
    padding: 18px;
    color: white;
    background: #0209C2;
    border: none;
    font-size: 16px;
    border-radius: 10px;
}