* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit;
}

.logo-icon{
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 10%;
    background-color: #EFFAF9;
}

nav ul {
    display: flex;
    gap:60px;
}

nav ul li {
    list-style-type: none;
    cursor: pointer;
}