.certifications-section{
    height: 100vh;
    background: #edf2f8;
    padding:60px 10%;
    
}
.cert-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cert-text h1{
    font-size: 40px;
}
.cert-text h1 span{
    font-size: 40px;
    color: #0209C2;
}
.certification-header{
    display: flex;
    align-items: start;
    gap: 30px;
}
.cert-main{
    display: flex;
    margin-top: 50px;
    gap: 120px;
}
.cert-links{
    padding: 10px 90px 10px 20px;
    background: #ffffff;
    border-radius: 10px;
}
.cert-links h1{  
    font-size: 16px;
}
